body {
  font-family: 'Poiret One', cursive;
  background-color: gray;
}

.font {
  color: #7018CC;
  font-weight: bold;
}

#name {
  height: 50px;
  font-size: 45px;
  font-family: 'Ruslan Display', cursive;
  color: #7018CC;
}

.homeImage {
  background-image: url('./images/Home1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.overlay{
  display:inline-block;

  padding-left: 175px;
  padding-top: 250px;
  font-size: 20px;
}

#about {
  height:400px;


}
#skills{
  height:600px;
}
.container1 {
  height: 125px;
  width: auto;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.rec_contain {
  flex-direction: row;
  height: 100px;
  width: 1200px;

}
.square {
  margin:auto;
	width: 100px;
	height: 100px;
	background: #7018CC;
  box-shadow: 4px 3px 11px 1px black;
}
.rectangle {
  margin-left: 100px;
  margin-bottom: 25px;
	width: 450px;
	height:75px;
	background: #7018CC;
  box-shadow: 4px 3px 11px 1px black;
}


#projects {
  height:1200px;


}
#contact {
  height:600px;


}
