body {
  font-family: 'Poiret One', cursive;
  background-color: gray;
}
.font {
  color: #7018CC;
  font-weight: bold;
}

#name {
  height: 50px;
  font-size: 45px;
  font-family: 'Ruslan Display', cursive;
  color: #7018CC;
}

.homeImage {
  background-image: url('./images/Home1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.overlay{
  display:inline-block;

  padding-left: 250px;
  padding-top: 250px;
  font-size: 20px;
}
.headline {
  text-align: center;
  color: #7018CC;
  font-weight: bold;
}
#about {
  height:800px;
}
#skills{
  height:600px;
}
.container1 {
  height: 125px;
  width: auto;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.rec_contain {
  flex-direction: row;
  height: 100px;
  width: 1200px;

}
.square {
  margin:auto;
	width: 180px;
	height: 180px;
	background: #7018CC;
  box-shadow: 4px 3px 11px 1px black;
}
#skill {
  margin: 15px
}


.rectangle {
  color: white;
  font-size: 55px;
  align-content: space-around;
  text-align: center;
  margin-left: 100px;
  margin-bottom: 25px;
	width: 550px;
	height:75px;
	background: #7018CC;
  box-shadow: 4px 3px 11px 1px black;
}

a{
  color: gray;
  font-weight: bold;
}
h1 {
  font-weight: bolder;
}

li{
  font-size:30px;
}

#linked {
  color: black
  font-size: 40px;
}
#git {
  color: black;
  font-size: 40px;
}
#projects {
  height:400px;
}
#contact {
  height:600px;
}
